# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
.env.*
.venv/
venv/

# ---------------------------
# IDE
# ---------------------------
.vscode/
.idea/

# ---------------------------
# Selenium / WebDriver
# ---------------------------
chromedriver*
geckodriver*
*.log
*.tmp

# ---------------------------
# Allure results
# ---------------------------
allure_results/
allure-report/

# ---------------------------
# OS
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Static analysis caches
# ---------------------------
.mypy_cache/
.ruff_cache/